__pycache__/
buildWin/CMakeCache.txt  
buildWin/CMakeFiles/  
buildWin/Makefile  
buildWin/cmake_install.cmake
buildWin/VHTTEST.exe
buildWin/VHTTEST.ilk
buildWin/VHTTEST.pdb
buildWin/output.wav
buildWin/VHTTEST.exe.manifest
buildWin/FirTest.exe
buildWin/FirTest.exe.manifest
buildWin/ServerTest.exe
buildWin/ServerTest.exe.manifest
buildWin/WaveTest.exe
buildWin/WaveTest.exe.manifest
buildLinux/CMakeCache.txt  
buildLinux/CMakeFiles/  
buildLinux/Makefile  
buildLinux/cmake_install.cmake
buildLinux/output.wav
buildLinux/FirTest
buildLinux/ServerTest
buildLinux/WaveTest
buildLinux/libFIR.a
buildLinux/libVHT.a
buildLinux/libWAVE.a
Resources/Library/win64/*.lib
Objects
DebugConfig
Listings
.ipynb_checkpoints
*.pyc


